## Import Library

---

In [86]:
from bs4 import BeautifulSoup
import urllib
import requests
import json
import pandas as pd

## Get Data

---

In [5]:
# # third-party website
# def player_per_game_data(year):
#     nba_url = f'https://www.basketball-reference.com/leagues/NBA_{year}_per_game.html'
#     req = urllib.request.Request(nba_url , headers={'User-Agent': 'Mozilla/5.0'})
#     content = urllib.request.urlopen(req).read()
#     table = pd.read_html(content)
    
#     return table[0]

# payer_2019 = player_per_game_data(2019)
# payer_2019[0:25]

In [105]:
# take year, return dataframe of players stats for that year
def nba_player_data(year):
    # get player data from nba website in json format
    headers = {
        'User-Agent': 'Mozilla/5.0',
        'Referer': 'https://stats.nba.com/players/drives/',
        'x-nba-stats-origin': 'stats',
        'x-nba-stats-token': 'true',
    }
    player_url = f'https://stats.nba.com/stats/leaguedashplayerstats?College=&Conference=&Country=&DateFrom=&DateTo=&Division=&DraftPick=&DraftYear=&GameScope=&GameSegment=&Height=&LastNGames=0&LeagueID=00&Location=&MeasureType=Base&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PaceAdjust=N&PerMode=PerGame&Period=0&PlayerExperience=&PlayerPosition=&PlusMinus=N&Rank=N&Season={year}&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&StarterBench=&TeamID=0&TwoWay=0&VsConference=&VsDivision=&Weight='
    req_url = requests.get(player_url, headers=headers)
    player_data = req_url.json()
    
    # get data by key: resultSets
    player_results = player_data['resultSets'][0]
    
    # get data feature names
    player_col_headers = player_results['headers']
    
    # get observations and set feature names
    player_results = json.dumps(player_results['rowSet'])
    df = pd.read_json(player_results)
    df.columns = player_col_headers
    
    return df

In [106]:
player_df = nba_player_data('2019-20')

In [107]:
player_df.head()

,PLAYER_ID,PLAYER_NAME,TEAM_ID,TEAM_ABBREVIATION,AGE,GP,W,L,W_PCT,MIN,...,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,NBA_FANTASY_PTS_RANK,DD2_RANK,TD3_RANK,CFID,CFPARAMS
0,203932,Aaron Gordon,1610612753,ORL,24,62,30,32,0.484,32.5,...,88,197,60,97,326,67,29,17,5,"203932,1610612753"
1,1628988,Aaron Holiday,1610612754,IND,23,66,42,24,0.636,24.5,...,191,248,171,187,123,200,115,29,5,"1628988,1610612754"
2,1627846,Abdel Nader,1610612760,OKC,26,55,37,18,0.673,15.8,...,379,346,349,298,364,359,239,29,5,"1627846,1610612760"
3,1629690,Adam Mokoka,1610612741,CHI,21,11,3,8,0.273,10.2,...,221,318,472,442,27,468,239,29,5,"1629690,1610612741"
4,1629678,Admiral Schofield,1610612764,WAS,23,33,9,24,0.273,11.2,...,431,326,434,434,374,453,239,29,5,"1629678,1610612764"

In [119]:
# take year, return dataframe of teams stats for that year
def nba_team_data(year):
    # get team data from nba website in json format
    headers = {
        'User-Agent': 'Mozilla/5.0',
        'Referer': 'https://stats.nba.com/players/drives/',
        'x-nba-stats-origin': 'stats',
        'x-nba-stats-token': 'true',
    }
    team_url = f'https://stats.nba.com/stats/leaguedashteamstats?Conference=&DateFrom=&DateTo=&Division=&GameScope=&GameSegment=&LastNGames=0&LeagueID=00&Location=&MeasureType=Base&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PaceAdjust=N&PerMode=PerGame&Period=0&PlayerExperience=&PlayerPosition=&PlusMinus=N&Rank=N&Season={year}&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&StarterBench=&TeamID=0&TwoWay=0&VsConference=&VsDivision='
    req_url = requests.get(team_url, headers=headers)
    team_data = req_url.json()
    
    # get data by key: resultSets
    team_results = team_data['resultSets'][0]
    
    # get data feature names
    team_col_headers = team_results['headers']
    
    # get observations and set feature names
    team_results = json.dumps(team_results['rowSet'])
    df = pd.read_json(team_results)
    df.columns = team_col_headers
    
    return df

In [120]:
team_df = nba_team_data('2018-19')

In [121]:
team_df.head()

,TEAM_ID,TEAM_NAME,GP,W,L,W_PCT,MIN,FGM,FGA,FG_PCT,...,TOV_RANK,STL_RANK,BLK_RANK,BLKA_RANK,PF_RANK,PFD_RANK,PTS_RANK,PLUS_MINUS_RANK,CFID,CFPARAMS
0,1610612737,Atlanta Hawks,82,29,53,0.354,48.4,41.4,91.8,0.451,...,30,11,14,24,29,5,12,26,10,Atlanta Hawks
1,1610612738,Boston Celtics,82,49,33,0.598,48.2,42.1,90.5,0.465,...,3,4,10,2,12,26,14,6,10,Boston Celtics
2,1610612751,Brooklyn Nets,82,42,40,0.512,48.7,40.3,89.7,0.449,...,26,27,28,22,23,7,15,15,10,Brooklyn Nets
3,1610612766,Charlotte Hornets,82,39,43,0.476,48.4,40.2,89.8,0.448,...,2,21,18,29,3,18,19,18,10,Charlotte Hornets
4,1610612741,Chicago Bulls,82,22,60,0.268,48.5,39.8,87.9,0.453,...,19,20,26,28,9,30,27,27,10,Chicago Bulls